@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffffffb;
  --foreground: #A9A9A9;
  --primary:#B22222;
  --secondary: #dad9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #f2f4f5;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  background-color:var(--primary);
}
a:hover{
  background-color: var(--foreground);
}